<footer class="container">
    <div class="footer-menu">
        <strong>Contact</strong>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque adipisci veritatis vitae vero, doloribus corporis?</p>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="hidden-xs">
            <input type="text" formControlName="fullName" placeholder="Full Name">
            <input type="email" formControlName="email" placeholder="Email Address">
            <textarea formControlName="message" rows="7" cols="30" placeholder="Your Message..."></textarea>
            <button class="btn-primary" [disabled]="!form.valid">Submit</button>
        </form>
        <a [routerLink]="'/contact'" class="show-xs">Contact Us</a>
    </div>
    <div class="footer-menu">
        <strong>Products</strong>
        <ul class="footer-menu-ul">
            <li class="menu-items">Lorem, ipsum dolor.</li>
            <li class="menu-items">Lorem, ipsum dolor.</li>
            <li class="menu-items">Lorem, ipsum dolor.</li>
            <li class="menu-items">Lorem, ipsum dolor.</li>
            <li class="menu-items">Lorem, ipsum dolor.</li>
            <li class="menu-items">Lorem, ipsum dolor.</li>
        </ul>
    </div>
    <div class="footer-menu">
        <strong>Help</strong>
        <ul class="footer-menu-ul">
            <li class="menu-items">Lorem, ipsum dolor.</li>
            <li class="menu-items">Lorem, ipsum dolor.</li>
        </ul>
    </div>
    <div class="footer-menu">
        <strong>About Us</strong>
        <ul class="footer-menu-ul">
            <li class="menu-items">Lorem, ipsum dolor.</li>
            <li class="menu-items">Lorem, ipsum dolor.</li>
            <li class="menu-items">Lorem, ipsum dolor.</li>
        </ul>
    </div>
</footer>