<nav>
    <div class="logo-container">
        <a [routerLink]="['/']">
            <img src="./assets/img/logo.png" alt="Site Logo" class="logo">
        </a>
    </div>
    <div class="menu-container">
        <ul class="menu">
            <li class="menu-item">PLATFORM</li>
            <li class="menu-item">SOLUTIONS</li>
            <li class="menu-item">PRICING</li>
            <li class="menu-item">ABOUT</li>
            <li class="menu-item">CONTACT</li>
        </ul>
    </div>
    <button class="site-menu-hamburger" (click)="onClick($event)"></button>
</nav>