nav {
    height: 73px;
    width: 100%;
    background: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 200;

    div {
        padding: 0 140px;
    }
    
    div.logo-container {
        img.logo {
            max-height: 45px;
        }
    }

    div.menu-container {
        ul.menu {
            li.menu-item {
                color: #041f43;
                font-weight: 500;
                display: inline;
                padding: 0 28px;
            }
        }
    }

    button.site-menu-hamburger {
        padding: .63rem .35rem;
        background-color: transparent;
        color: transparent;
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    nav {
        height: 44px;

        div {
            padding: 0 15px;
        }

        div.logo-container {
            img.logo {
                max-height: 32px;
            }
        }

        div.menu-container {
            display: none;
        }

        button.site-menu-hamburger {
            display: inline-block;
            content: " ";
            width: 35px;
            height: 23px;
            position: absolute;
            right: 15px;
            background-image: url(/assets/img/icon-menu.png);
        }
    }
}
