<ui-layout>
    <ui-header [header]="'Contact Us'"></ui-header>
    <main class="container">
        <ui-greeting [title]="greetingsTitle" [text]="greetingsText"></ui-greeting>
        <div class="contact-form">
            <ui-form [full]="true"></ui-form>
            <div class="contact-cards">
                <div>Lorem ipsum dolor sit amet.</div>
                <div>Lorem ipsum dolor sit amet.</div>
                <div>Lorem ipsum dolor sit amet.</div>
            </div>
        </div>
    </main>
</ui-layout>