footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    color: #dddddd;
    padding-top: 5em;
    padding-bottom: 2em;
    border-bottom: 1px solid #072d5f71;
    background-color: #041f43;
    background-image: url(/assets/img/map.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    div.footer-menu {
        padding-top: 30px;

        p {
            line-height: 1.5em;
        }

        a.show-xs {
            padding: 10px 0;
        }
        
        strong {
            display: inline-block;
            padding-bottom: 15px;
        }

        ui-form {
            display: inline-block;
            width: 80%;
        }

        ul.footer-menu-ul {
            li {
                padding: 10px 0;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    footer {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) and (min-width: 1023px) {
    footer {
        grid-template-columns: 1fr;
    }
}