<footer class="container">
    <div class="footer-menu">
        <strong>Contact</strong>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque adipisci veritatis vitae vero, doloribus corporis?</p>
        <ui-form [full]="false"></ui-form>
        <a [routerLink]="'/contact'" class="show-xs">Contact Us</a>
    </div>
    <div class="footer-menu">
        <strong>Products</strong>
        <ul class="footer-menu-ul">
            <li class="menu-items">Lorem, ipsum dolor.</li>
            <li class="menu-items">Lorem, ipsum dolor.</li>
            <li class="menu-items">Lorem, ipsum dolor.</li>
            <li class="menu-items">Lorem, ipsum dolor.</li>
            <li class="menu-items">Lorem, ipsum dolor.</li>
            <li class="menu-items">Lorem, ipsum dolor.</li>
        </ul>
    </div>
    <div class="footer-menu">
        <strong>Help</strong>
        <ul class="footer-menu-ul">
            <li class="menu-items">Lorem, ipsum dolor.</li>
            <li class="menu-items">Lorem, ipsum dolor.</li>
        </ul>
    </div>
    <div class="footer-menu">
        <strong>About Us</strong>
        <ul class="footer-menu-ul">
            <li class="menu-items">Lorem, ipsum dolor.</li>
            <li class="menu-items">Lorem, ipsum dolor.</li>
            <li class="menu-items">Lorem, ipsum dolor.</li>
        </ul>
    </div>
</footer>