@import "./assets/css/reset.css";
@import "./assets/css/common";
@import "~font-awesome/css/font-awesome.min.css";

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
}