@import "./assets/css/reset.css";
@import "./assets/css/fonts.css";
@import "./assets/css/common";

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
}