<nav>
    <div class="container">
        <div class="logo-container">
            <a [routerLink]="['/']">
                <img [src]="logoSrc" alt="Anovit Logo" class="logo">
            </a>
        </div>
        <div class="menu-div">
            <ul class="menu" *ngIf="links">
                <li class="menu-item" *ngFor="let link of links">
                    <a [routerLink]="link.url">{{ link.title | uppercase }}</a>
                </li>
            </ul>
        </div>
        <button class="site-menu-hamburger" (click)="onClick($event)"></button>
    </div>
</nav>