nav {
    position: fixed;
    top: 0;
    height: 73px;
    width: 100vw;
    background: #ffffff;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1);
    z-index: 200;

    div.container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        height: 100%;

        div.logo-container {
            img.logo {
                max-height: 45px;
            }
        }
    
        div.menu-div {
            text-align: end;
            ul.menu {
                li.menu-item {
                    color: #041f43;
                    font-weight: 700;
                    padding: 0 28px;
                    cursor: pointer;
                }
                li:nth-last-child(1) {
                    padding-right: 0;
                }
            }
        }
    
        button.site-menu-hamburger {
            display: none;
        }
    }
}

@media screen and (max-width: 1024px) {
    nav {
        height: 44px;

        div.container {
            div.logo-container {
                img.logo {
                    max-height: 32px;
                }
            }
    
            div.menu-div {
                display: none;
            }
    
            button.site-menu-hamburger {
                grid-column-start: 3;
                display: inline-block;
                width: 35px;
                height: 23px;
                background: transparent;
                color: transparent;
                background-image: url(/assets/img/icon-menu.png);
            }
        }
    }
}
